<footer class="container">
    <div _ngcontent-c2="" class="row row-grid align-items-center my-md">
        <div _ngcontent-c2="" class="col-lg-6">
            <h3 _ngcontent-c2="" class="text-dark font-weight-light mb-2">Thank you for supporting us!</h3>
            <h4 _ngcontent-c2="" class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
        <div _ngcontent-c2="" class="col-lg-6 text-lg-center btn-wrapper">
            <!-- <a _ngcontent-c2="" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg"
                href="https://www.facebook.com/creativetim" ngbtooltip="Like us" target="_blank"><i _ngcontent-c2=""
                    class="fa fa-facebook-square"></i></a> -->
            <a _ngcontent-c2="" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round"
                href="https://www.instagram.com/finds_company/?igshid=MzRlODBiNWFlZA%3D%3D" ngbtooltip="Follow us" target="_blank"><i _ngcontent-c2=""
                    class="fa fa-instagram"></i></a>
        </div>
    </div>
    <hr _ngcontent-c2="">
    <div _ngcontent-c2="" class="row align-items-center justify-content-md-between mb-4">
        <div _ngcontent-c2="" class="col-md-12 text-center">
            <div _ngcontent-c2="" class="copyright"> © 2023 <a _ngcontent-c2=""
                    routerLink="/home" target="_blank">FindsCo</a>. </div>
        </div>
       
    </div>
</footer>