<div class="modal" #modalContainer id="modal-container">
    <div _ngcontent-c3="" class="shape shape-style-1 shape-primary">
        <span _ngcontent-c3="" class="span-150"></span><span _ngcontent-c3="" class="span-50"></span><span
            _ngcontent-c3="" class="span-50"></span><span _ngcontent-c3="" class="span-75"></span><span _ngcontent-c3=""
            class="span-100"></span><span _ngcontent-c3="" class="span-75"></span><span _ngcontent-c3=""
            class="span-50"></span><span _ngcontent-c3="" class="span-100"></span><span _ngcontent-c3=""
            class="span-50"></span><span _ngcontent-c3="" class="span-100"></span>
    </div>
    <div class="modal-content bg-dark">


        <img src="assets/img/brand/logo.svg" class="img-fluid mb-4">
        <button routerLink="/home" class="btn btn-dark">Step Into the World of Findsco 
        </button>
    </div>
</div>